version: '3.8'

services:
  postgres:
    image: postgres:16
    container_name: lorinyo_db_prod
    ports:
      - "5433:5432"
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: medusa_lorinyo
    volumes:
      - ./pg_data:/var/lib/postgresql/data
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U postgres" ]
      interval: 5s
      timeout: 5s
      retries: 5

  minio:
    image: minio/minio
    container_name: lorinyo_minio
    ports:
      - "9002:9000" # API Portu (9000 doluysa diye 9002 yaptık)
      - "9003:9001" # Yönetim Paneli (9001 doluysa diye 9003 yaptık)
    environment:
      MINIO_ROOT_USER: minioadmin
      MINIO_ROOT_PASSWORD: minioadmin
    volumes:
      - ./minio_data:/data
    command: server /data --console-address ":9001"
